---
layout: default
---

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">BriskSec</span>
        <span class="d-none d-lg-block">
            <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="profile.jpg" alt="">
        </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#twitter">Twitter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
            <li class="nav-item"  style="margin-top: 20px; border-top: 1px white solid; padding-top: 10px;">
                <a class="nav-link js-scroll-trigger" href="https://kbase.ayoma.me" target="_new">Brain Dump!</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="https://blog.brisksec.com" target="_new">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="https://www.youtube.com/channel/UCOWz2SPJlzUBR4wYS9rA-pg" target="_new">YouTube - SecureLK</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="https://www.youtube.com/channel/UCbnveeMOvWnVJ1nFweMQsUw" target="_new">YouTube - BriskSec</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid p-0">
    {{ content }}
</div>